<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">    
    
    <!-- <gazebo>
        <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometryRate>20.0</odometryRate>
        <robotBaseFrame>base_link</robotBaseFrame>
        </plugin>
    </gazebo> -->
    
    <gazebo>
        <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <!-- Update rate in Hz -->
            <update_rate>50</update_rate>
            <!-- wheels -->
            <!-- Number of wheel pairs -->
            <num_wheel_pairs>3</num_wheel_pairs>
            
            <!-- joints misnamed smh -->
            <!-- wheels0 -->
            <left_joint>right_front_wheel_joint</left_joint>
            <right_joint>left_front_wheel_joint</right_joint>

            <!-- wheels1-->
            <left_joint>right_rear_wheel_joint</left_joint>
            <right_joint>left_rear_wheel_joint</right_joint>

            <left_joint>right_middle_wheel_joint</left_joint>
            <right_joint>left_middle_wheel_joint</right_joint>
            
            <!-- kinematics -->
            <!-- <wheel_separation>0.762</wheel_separation>

            <wheel_diameter>0.2</wheel_diameter> -->

            <max_wheel_torque>200.0</max_wheel_torque>
            <max_wheel_acceleration>1.0</max_wheel_acceleration>

            <!-- output -->
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
            <odometry_topic>odom</odometry_topic>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
        </plugin>
    </gazebo>

</robot>
