<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="gps">
        <visual>
            <geometry>
            <box size="0.01 0.01 0.01"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
            <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>
        <xacro:box_inertia m="0.01" l="0.01" w="0.01" h="0.01" xyz="0 0 0" rpy="0 0 0"/>
    </link>

    <joint name="gps_joint" type="fixed">
        <axis xyz="1 0 0"/>
        <origin xyz="0 0 ${base_height}" rpy="0 0 ${pi / 2}"/>
        <parent link="chassis"/>
        <child link="gps"/>
    </joint>

    <gazebo reference="gps">
        <sensor name="gps" type="gps">
            <plugin filename="libgazebo_ros_gps_sensor.so" name="gps_plugin">
                <ros>
                <namespace>/gps</namespace>
                <remapping>~/out:=data</remapping>
                </ros>
                <frame_name>gps</frame_name>
            </plugin>
            <always_on>true</always_on>
            <updateRate>30</updateRate>
        </sensor>
    </gazebo>
</robot>